body {
    background-image: url("../images/deathstar.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;  
    color: #fff;
}

.primary-container {
    max-width: 800px;
    min-width: 400px;
}

.card {
    background-color: #aaa;
}

.rebel-empire {
    
}

.rebel {
    background-color: rgb(64, 191, 254);
}

.empire {
    background-color: rgb(255, 70, 70);
}

.character-selection {
    display: none;
}

.battle-royale {
    display: none;
}

.character-pick-enemy {
    display: none;
}

.character-attack {
    vertical-align: middle;
    background-color: #aaa;
}

h1 {
    text-align: left;
    color: #fff;
}

h1:after
{
    content:' ';
    display:block;
    border:1px solid rgb(244, 194, 86);
}